body{
  background-color: rgb(198, 174, 142);
}


#sneha{
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

#sneha h1{
  font-family: 'Dancing Script', cursive;
  color: brown;
  border: 2px solid rgb(32, 30, 28) ;
  
}